USE [BoardgameRecommendation]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 10/9/2019 10:51:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[Role] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Game]    Script Date: 10/9/2019 10:51:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Game](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NULL,
	[Category] [nvarchar](255) NULL,
	[Thumbnail] [nvarchar](255) NULL,
	[Description] [nvarchar](max) NULL,
	[Link] [nvarchar](255) NULL,
	[MinAge] [int] NULL,
	[MaxAge] [int] NULL,
	[MinTime] [int] NULL,
	[MaxTime] [int] NULL,
	[MinPlayer] [int] NULL,
	[MaxPlayer] [int] NULL,
	[RatingPoint] [float] NULL,
 CONSTRAINT [PK_Game] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Image]    Script Date: 10/9/2019 10:51:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Image](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ImageUrl] [nvarchar](255) NULL,
	[GameId] [int] NOT NULL,
 CONSTRAINT [PK_GameImage] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemBasedPoint]    Script Date: 10/9/2019 10:51:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemBasedPoint](
	[ItemId] [int] NOT NULL,
	[PrefId] [int] NOT NULL,
	[Similarity] [float] NOT NULL,
 CONSTRAINT [PK_ItemBasedPoint] PRIMARY KEY CLUSTERED 
(
	[ItemId] ASC,
	[PrefId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 10/9/2019 10:51:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserToken] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserBasedPoint]    Script Date: 10/9/2019 10:51:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserBasedPoint](
	[UserId] [int] NOT NULL,
	[PrefId] [int] NOT NULL,
	[Similarity] [float] NOT NULL,
 CONSTRAINT [PK_UserBasedPoint] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[PrefId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vote]    Script Date: 10/9/2019 10:51:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vote](
	[UserId] [int] NOT NULL,
	[GameId] [int] NOT NULL,
	[Point] [float] NULL,
 CONSTRAINT [PK_Vote] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[GameId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Account] ([Username], [Password], [Role]) VALUES (N'admin', N'12345', N'admin')
INSERT [dbo].[Account] ([Username], [Password], [Role]) VALUES (N'phund', N'123', N'admin')
SET IDENTITY_INSERT [dbo].[Game] ON 

GO
SET IDENTITY_INSERT [dbo].[Game] OFF
SET IDENTITY_INSERT [dbo].[Image] ON 

INSERT [dbo].[Image] ([Id], [ImageUrl], [GameId]) VALUES (57, N'https://i0.wp.com/www.boardgamehub.net/wp-content/uploads/2016/01/descent-1.jpg?resize=495%2C400&ssl=1', 59)
INSERT [dbo].[Image] ([Id], [ImageUrl], [GameId]) VALUES (58, N'https://i0.wp.com/www.boardgamehub.net/wp-content/uploads/2015/12/warofthering-2.jpg?resize=495%2C400&ssl=1', 60)
INSERT [dbo].[Image] ([Id], [ImageUrl], [GameId]) VALUES (59, N'https://i2.wp.com/www.boardgamehub.net/wp-content/uploads/2015/08/mansions-of-madness-13.jpg?resize=495%2C400&ssl=1', 61)
GO
SET IDENTITY_INSERT [dbo].[Image] OFF
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [UserToken]) VALUES (1, N'921320e27dba796d0f50cf1834f4c2376de2e1328b2099784bfef24ddd4c8fd4')
INSERT [dbo].[User] ([Id], [UserToken]) VALUES (2, N'e868c7c90156e1b1d283bd87e230006c09b2f9659715faf0d958cced1ced958b')
SET IDENTITY_INSERT [dbo].[User] OFF
INSERT [dbo].[Vote] ([UserId], [GameId], [Point]) VALUES (1, 60, 5)
INSERT [dbo].[Vote] ([UserId], [GameId], [Point]) VALUES (1, 100, 2.5)
INSERT [dbo].[Vote] ([UserId], [GameId], [Point]) VALUES (1, 165, 6)
ALTER TABLE [dbo].[Image]  WITH CHECK ADD  CONSTRAINT [FK_Image_Game] FOREIGN KEY([GameId])
REFERENCES [dbo].[Game] ([Id])
GO
ALTER TABLE [dbo].[Image] CHECK CONSTRAINT [FK_Image_Game]
GO
ALTER TABLE [dbo].[Vote]  WITH CHECK ADD  CONSTRAINT [FK_Vote_Game] FOREIGN KEY([GameId])
REFERENCES [dbo].[Game] ([Id])
GO
ALTER TABLE [dbo].[Vote] CHECK CONSTRAINT [FK_Vote_Game]
GO
ALTER TABLE [dbo].[Vote]  WITH CHECK ADD  CONSTRAINT [FK_Vote_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Vote] CHECK CONSTRAINT [FK_Vote_User]
GO
